@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
/*====================================================================================================*/
/*===========================================[ Global ]===============================================*/
/*====================================================================================================*/
:root {
  /*Color Pallets*/

  --mainColor: #f0dc55;
  --mainColorAlt: #ffe945;
  --contrastColor: #497ab6;
  --lighterColor: #e8dee6;
  --lightColor: #b2afb5;
  --darkColorShade1: #111111;
  --darkColorShade2: #191919;
  --darkColorShade3: #222222;

  --alertRed: #ff6961;
  --alertRedSoft: #ff817a;
  --alertYellow: #fdfd96;
  --alertYellowSoft: #ffffb0;
  --alertGreen: #77dd77;
  --alertGreenSoft: #a3ffa3;
  font-size: 12px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  background-color: #191919;
  overflow: auto; /* Set this to disable scrolling*/
}

/*====================================================================================================*/
/*===========================================[ Header ]===============================================*/
/*====================================================================================================*/

header {
  position: relative;
  background-color: var(--darkColorShade1);
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px;
}

header * {
  padding: 0px 50px;
  margin: 0;
}
header img {
  margin: 0;
  padding: 0;
  height: 90%;
}
header nav {
  align-self: center;
}
.linkStyle {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}
/*Style Header and Footer*/
.linkStyle a {
  position: relative;
  font-size: 4rem;
  padding: 10px;
  margin: 50px;
  color: var(--lightColor);
  transition: all ease-in 0.5s;
  text-wrap: nowrap;
  text-align: center;
}
.linkStyle a:hover {
  color: var(--mainColor);
}

.linkStyle a::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0%;
  height: 100%;
  border-bottom: 5px solid var(--mainColor);
  transform-origin: center;
  transition: all ease-in 0.3s;
}
.linkStyle a:hover::before {
  width: 100%;
  left: 0;
}

#Alert {
  position: absolute;
  font-size: 4rem;
  background-color: yellow;
  border-radius: 50px;
  top: 175px; /* Home: 215 | Question*/
  left: 25px;
  align-items: start;
}
.button-style {
  padding: 5px;
  border-radius: 10px;
  font-size: 2rem;
  background-color: var(--mainColor);
  width: 200px;
  height: 50px;
  color: var(--darkColorShade1);
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.button-style:hover {
  background-color: var(--mainColorAlt);
  transition: all ease-in 0.2s;
  transform: scale(1.05);
}
/*====================================================================================================*/
/*===========================================[ Home ]===============================================*/
/*====================================================================================================*/
section {
  display: flex;
  height: 750px;
  margin: 0;
  padding: 0;
}
section h2 {
  font-size: 6rem;
}
section p {
  font-size: 3rem;
}
#Call-To-Action {
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 20%;
  color: var(--darkColorShade3);
  background-image: linear-gradient(
    to bottom,
    var(--lighterColor),
    var(--darkColorShade1)
  );
  background-size: contain;
}

#Call-To-Action * {
  text-align: center;
}

#Call-To-Action h2 {
  font-family: "Irish Grover", cursive;
}

#Call-To-Action button {
  margin: 0px auto;
}
#How-To-Play {
  width: 100%;
  color: var(--lightColor);
  border-top: 20px solid var(--darkColorShade1);
  border-bottom: 20px solid var(--darkColorShade1);
  background-color: var(--darkColorShade2);
  gap: 50px;
}
#How-To-Play div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 2;
  padding-left: 50px;
}
#How-To-Play figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex: 2;
}
#How-To-Play img {
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  border: 10px solid var(--darkColorShade1);
}
#How-To-Play h2 {
  text-align: start;
}

#Why-Javascript {
  height: 500px;
  border-bottom: 20px solid var(--darkColorShade3);
  padding: 50px 20%;
  color: var(--lightColor);
  background-image: url("../images/Score-Background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#Why-Javascript p {
  text-shadow: var(--mainColor) 1px 0px 10px;
}
#Why-Javascript div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

/*====================================================================================================*/
/*===========================================[ Question ]=============================================*/
/*====================================================================================================*/

#Question {
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: var(--lightColor);
  border-top: 20px solid var(--darkColorShade1);
  border-bottom: 20px solid var(--darkColorShade1);
  background-color: var(--darkColorShade2);
  gap: 0px;
}
#Timer {
  display: flex;
  top: 0;
  right: 0;
  transform: translate(-200px, 25px);
  width: 700px;
  background-color: var(--lighterColor);
  border-radius: 50px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

#Timer * {
  padding: 50px;
  font-size: 4rem;
  color: var(--darkColorShade1);
  text-align: center;
  vertical-align: middle;
}
/* #Question div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 2;
  padding-left: 50px;
} */
#Question figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: visible;
}

#Question figure button {
  position: absolute;
  bottom: 0px;
}
#Question img {
  background-color: white;
  max-width: 200%;
  max-height: 100%;
  border: 10px solid var(--darkColorShade1);
  border-radius: 50px;
  width: 100%;
}
#Question h2 {
  padding: 30px;
  height: 175px;
  text-align: center;
}

.question-content {
  height: 100%;
  display: flex;
  padding: 100px;
  padding-top: 10px;
  gap: 50px;
}
.question-content div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.question-content div button {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 10px 0px;
  height: 25%;
  text-align: start;
  padding: 10px 50px;
  font-size: 3rem;
}

#Exit-Quiz-Button {
  margin: 50px auto;
}

/*====================================================================================================*/
/*===========================================[ Scores ]=============================================*/
/*====================================================================================================*/

#Score,
#HighScore,
#Study {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightColor);
  border-bottom: 20px solid var(--darkColorShade1);
  background-image: url("../images/Score-Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 0px;
}

#Score .score-display,
#HighScore .high-score-display {
  height: 70%;
  width: 750px;
  background-color: var(--darkColorShade2);
  display: flex;
  flex-direction: column;
  border-top: 20px solid var(--mainColor);
  border-bottom: 40px solid var(--mainColor);
  border-radius: 50px;
  box-shadow: 0px 10px 50px var(--mainColor);
  padding: 50px 0px;
}

#Score .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex: 6;
  font-family: "Irish Grover", cursive;
  padding: 50px 100px;
}
#Score .stats * {
  width: 50%;
  text-align: end;
  font-size: 4rem;
}
#Score .stats h2 {
  text-align: center;
  min-width: 100%;
  font-size: 6rem;
  color: var(--mainColor);
}
.stats :nth-child(8),
.stats :nth-child(9) {
  color: var(--contrastColor);
}
#Score .stats :nth-child(even) {
  text-align: start;
}
#Score form {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;
  flex: 1;
}
#Score form h4 {
  position: absolute;
  display: none;
}
#Score form input {
  width: 60%;
  height: 50px;
  font-size: 4rem;
  text-align: center;
}

#Score .buttons {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Score h2 {
  height: 75px;
  color: var(--mainColor);
  font-family: "Irish Grover", cursive;
  font-size: 4rem;
  text-align: center;
}
/*====================================================================================================*/
/*===========================================[ High Scores ]=============================================*/
/*====================================================================================================*/
#HighScore .high-score-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#HighScore h2 {
  font-size: 6rem;
  color: var(--mainColor);
  font-family: "Irish Grover", cursive;
  text-align: center;
}
#HighScore h3 {
  text-align: center;
  font-size: 4rem;
  padding: 50px;
}
#HighScore #highscores div {
  display: flex;
  margin: 0px 50px;
  color: var(--contrastColor);
  justify-content: space-between;
  gap: 50px;
  font-family: "Irish Grover", cursive;
}
#HighScore #highscores div :nth-child(1) {
  flex: 1;
  text-align: start;
}
#HighScore #highscores div :nth-child(2) {
  flex: 2;
  text-align: center;
  text-wrap: nowrap;
}
#HighScore #highscores div :nth-child(3) {
  flex: 1;
  text-align: end;
}

#HighScore #highscores .gold p {
  color: gold;
  font-size: 3.75rem;
}
#HighScore #highscores .silver p {
  color: silver;
  font-size: 3.5rem;
}
#HighScore #highscores .bronze p {
  color: burlywood;
  font-size: 3.25rem;
}
#HighScore .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#HighScore .confirm-clear-scores-text p {
  text-align: center;
  font-size: 4rem;
}
/*====================================================================================================*/
/*===========================================[ Review ]=============================================*/
/*====================================================================================================*/
#Review {
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: var(--lightColor);
  border-top: 20px solid var(--darkColorShade1);
  border-bottom: 20px solid var(--darkColorShade1);
  background-color: var(--darkColorShade2);
  gap: 0px;
}

.review-navigation {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.review-navigation h3 {
  font-size: 4rem;
  color: var(--lightColor);
}

#Review figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#Review figure button {
  position: absolute;
  bottom: 0px;
}
#Review img {
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  border: 10px solid var(--darkColorShade1);
}
#Review h2 {
  padding: 30px;
  text-align: center;
}

#Review .result {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -75px;
}
/*====================================================================================================*/
/*=============================================[ Study ]==============================================*/
/*====================================================================================================*/
#Study h2 {
  font-size: 12rem;
  color: var(--mainColor);
  font-family: "Irish Grover", cursive;
}

/*====================================================================================================*/
/*===========================================[ Footer ]===============================================*/
/*====================================================================================================*/

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--darkColorShade2);
  border-top: 25px solid var(--mainColor);
}
.footer-social {
  margin: 50px;
  display: flex;
  gap: 50px;
  width: 100%;
  font-size: 8rem;
  justify-content: center;
}

.footer-social a {
  position: relative;
  text-decoration: none;
  color: var(--lighterColor);

  transition: all ease-in 0.5s;
}
.footer-social a:hover {
  color: #f0dc55;
}
.footer-social a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0%;
  height: 100%;
  border-top: 5px solid var(--mainColor);
  border-bottom: 5px solid var(--mainColor);
  transition: all ease-in 0.3s;
}
.footer-social a:hover::after {
  width: 100%;
  left: 0;
}
.footer-links {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 20px;
}
.footer-links * {
  flex: 1;
}
.footer-links ul {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
footer ul {
  flex-grow: 1;
  align-self: center;
}
.footer-links ul a {
  font-size: 2rem;
  text-decoration: none;
  margin: 0px;
}
footer img {
  bottom: 0;
  max-height: 200px;
}

.bold {
  color: var(--mainColor);
}
/*TODO Effect Applies When Text Fades Away*/
/* 
footer h3 { 
  margin-left: 50px;
  opacity: 0%;
} 
*/

/*======================================================================*/
/*============================= Media Queries ==========================*/
/*======================================================================*/

@media screen and (max-width: 1700px) {
  :root {
    font-size: 8px;
  }

  footer img {
    align-self: center;
    width: 30%;
    height: 100%;
  }

  .footer-social {
    gap: 10%;
  }

  .footer-links {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .footer-links .linkStyle a {
    font-size: 3rem;
    margin: 0px;
  }
  .footer-links img {
    order: 1;
  }
  #Score .score-display,
  #HighScore .high-score-display {
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--darkColorShade3);
    display: flex;
    flex-direction: column;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    padding: 50px 30%;
  }
  #HighScore h2 {
    margin-top: 20%;
    margin-left: 50px;
  }
  #HighScore #highscores div {
    margin: 0px;
    padding: 0px 10px;
  }
  #Timer {
    display: flex;
    width: 30%;
    transform: translate(-50px, 35px);
    margin: auto;
    background-color: var(--lighterColor);
    border-radius: 50px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
  #Timer * {
    text-wrap: nowrap;
    font-size: 3rem;
    padding: 20px;
  }

  #Question {
    height: 100vh;
  }
}

@media screen and (max-width: 1400px) {
  header img {
    width: 700px;
  }
  header {
    flex-direction: column;
  }
  header .linkStyle {
    background-color: var(--darkColorShade2);
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  header .linkStyle a {
    margin: 0;
  }

  #Page_Highscores {
    height: 100vh;
  }
}
@media screen and (max-width: 1200px) {
  #How-To-Play {
    flex-direction: column-reverse;
    height: 100%;
  }

  header img {
    width: 130%;
  }
  #Call-To-Action,
  #How-To-Play,
  #Why-Javascript {
    height: 100vh;
    width: 100%;
    padding: 15px 5px;
  }
  #Call-To-Action p,
  #How-To-Play Div,
  #Why-Javascript p {
    padding: 5px;
  }
  :root {
    font-size: 6px;
  }
  footer img {
    align-self: center;
    width: 50%;
    height: 100%;
  }
  #Timer {
    display: flex;
    transform: translate(0px, -32px);
    width: 80%;
    margin: auto;
    background-color: var(--lighterColor);
    border-radius: 50px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 30px;
  }
  #Timer * {
    text-wrap: nowrap;
    font-size: 3rem;
    padding: 20px;
  }
  #Question figure {
    width: 100%;
    overflow: visible;
  }
  #Question figure img {
    width: 100%;
  }
  #Question h2 {
    height: 50px;
    padding: 5px;
  }
  #Alert {
    border-radius: 50px;
    text-wrap: nowrap;
    top: 5px; /* Home: 215 | Question*/
    left: 50%;
    transform: translate(-50%);
  }
  .button-style {
    font-size: 3rem;
  }
  .question-content {
    margin: 0px;
    padding: 20px;
    flex-direction: column-reverse;
    gap: 5px;
  }
  .question-content div {
    justify-content: start;
  }
  .question-content div button {
    height: auto;
    margin: 5px;
  }
  .hideOnSmallScreens {
    height: 50px;
  }
  .hideOnSmallScreens img {
    visibility: hidden;
  }
  #Score .buttons {
    margin: 25px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    font-size: 4px;
  }
}
