@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
/*====================================================================================================*/
/*===========================================[ Global ]===============================================*/
/*====================================================================================================*/
:root {
  /*Color Pallete*/

  --mainColor: #f0dc55;
  --contrastColor: #497ab6;
  --lighterColor: #e8dee6;
  --lightColor: #b2afb5;
  --darkColorShade1: #111111;
  --darkColorShade2: #191919;
  --darkColorShade3: #222222;

  --accentColor: #482375;
  --accentColorLight: #773ac2;
  --accentColorLightest: #d9d2e8;
  font-size: 12px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
}

/*====================================================================================================*/
/*===========================================[ Header ]===============================================*/
/*====================================================================================================*/

header {
  background-color: var(--darkColorShade1);
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px;
  gap: 100px;
}

header * {
  padding: 0px 50px;
  margin: 0;
}
header img {
  margin: 0;
  padding: 0;
  height: 90%;
}
header nav {
  align-self: center;
}

/*Style Header and Footer*/
.linkStyle a {
  position: relative;
  font-size: 6rem;
  padding: 10px;
  margin: 50px;
  color: var(--lightColor);
  transition: all ease-in 0.5s;
}
.linkStyle a:hover {
  color: var(--mainColor);
}

.linkStyle a::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0%;
  height: 100%;
  border-bottom: 5px solid var(--mainColor);
  transform-origin: center;
  transition: all ease-in 0.3s;
}
.linkStyle a:hover::before {
  width: 100%;
  left: 0;
}

/*====================================================================================================*/
/*===========================================[ Home ]===============================================*/
/*====================================================================================================*/
section {
  display: flex;
  height: 500px;
  margin: 0;
  padding: 0;
}
section h2 {
  font-size: 6rem;
}
section p {
  font-size: 3rem;
}
#Call-To-Action {
  background-color: var(--lighterColor);
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 500px;
}

#Call-To-Action * {
  text-align: center;
}

#Call-To-Action h2 {
  font-family: "Irish Grover", cursive;
}

#Call-To-Action button {
  margin: 0px auto;
}
#How-To-Play {
  color: var(--lightColor);
  border-top: 20px solid var(--darkColorShade1);
  border-bottom: 20px solid var(--darkColorShade1);
  background-color: var(--darkColorShade2);
}
#Why-Javascript {
  border-bottom: 20px solid var(--darkColorShade3);
  background-color: var(--contrastColor);
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

#Landing-Page p {
  font-size: 2rem;
  text-align: center;
}
#Landing-Page button {
  display: block;
  background-color: var(--accentColor);
  height: 40px;
  width: 100px;
  margin: 10px auto;
}
#Questions-Page {
  display: block; /* Toggle */
  width: 50%;
}
#Questions-Page button {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  text-align: start;
  font-size: 2rem;
  padding: 10px;
}
#Results-Page {
  display: block; /* Toggle */
  width: 25%;
}
#Results-Page {
  margin-bottom: 20px;
  text-align: start;
  font-size: 2rem;
  padding: 10px;
}

#Results-Page form {
  display: flex;
  align-items: center;
  gap: 10px;
}
#Initials-Input {
  background-color: var(--accentColorLightest);
}
#Highscore-Page {
  position: relative;
  display: block; /* Toggle */
  margin: 0px auto;
  width: 35%;
  font-size: 2rem;
}

#Highscore-Display {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  gap: 10px;
  margin-bottom: 40px;
}
#Highscore-Page button:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
}
#Highscore-Page button:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}

#Highscore-Page p {
  height: 20px;
  padding: 10px;
  background-color: var(--accentColorLightest);
}
.button-style {
  padding: 5px;
  border-radius: 10px;
  font-size: 2rem;
  background-color: var(--mainColor);
  width: 200px;
  height: 50px;
  color: var(--darkColorShade1);
  transition: all ease-in 0.2s;
}
.button-style:hover {
  background-color: var(--accentColorLight);
  transition: all ease-in 0.2s;
  transform: scale(1.05);
}

/* Main Footer */

footer h3 {
  margin-left: 5px;
  margin-top: 10px;
  transition: All ease-in 0.5s;
}

/* Landing Page */
#HIDDEN {
  display: none;
}
/*====================================================================================================*/
/*===========================================[ Footer ]===============================================*/
/*====================================================================================================*/

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--darkColorShade2);
  border-top: 25px solid var(--mainColor);
}
.footer-social {
  margin: 50px;
  display: flex;
  gap: 50px;
  width: 100%;
  font-size: 8rem;
  justify-content: center;
}

.footer-social a {
  position: relative;
  text-decoration: none;
  color: var(--lighterColor);

  transition: all ease-in 0.5s;
}
.footer-social a:hover {
  color: #f0dc55;
}
.footer-social a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0%;
  height: 100%;
  border-top: 5px solid var(--mainColor);
  border-bottom: 5px solid var(--mainColor);
  transition: all ease-in 0.3s;
}
.footer-social a:hover::after {
  width: 100%;
  left: 0;
}
.footer-links {
  margin: 0px 200px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.footer-links ul {
  display: flex;
  justify-content: space-around;
}
footer ul {
  flex-grow: 1;
  align-self: center;
}
.footer-links ul a {
  font-size: 3rem;
  text-decoration: none;
}
footer img {
  bottom: 0;
  height: 200px;
}
/*TODO Effect Applies When Text Fades Away*/
/* 
footer h3 { 
  margin-left: 50px;
  opacity: 0%;
} 
*/

/*======================================================================*/
/*============================= Media Queries ==========================*/
/*======================================================================*/
